#corpo {display: block;position: relative;margin: 0 auto; width: 100%;max-width: 1600px;box-sizing: border-box; padding: 0; font-family: 'Open Sans', sans-serif; color: #303030;overflow: hidden; background:#F4DAD3; text-align: center;}
/* TEXTO TOP */
#corpo .texto-topo{
    text-align: center;
}
#corpo .texto-topo h2{
    font-size: 4.2vw;
    font-weight:400;
}
#corpo .texto-topo h2 span{
    font-weight:700;
}
#corpo .texto-topo P {
    font-size:2.1vw;
    width:38%;
    margin:4% auto;
}
#corpo .texto-topo h2.sub-titulo{
    font-size:3.6vw;
    font-weight:700;
    color: #FF7E5D;
}
#corpo .texto-topo P.bold {
    font-size:2.3vw;
    font-weight:700;
}   
/* BANNER  */
#corpo .banner_artista::before{
    padding: 0;
    padding-top: 49.0625%;
}
#corpo .banner_artista{position: relative;display: block;width: 100%; margin: 0 auto;}
#corpo .banner_artista picture{display: block;width: 100%;}
#corpo .banner_artista picture img{position: relative;display: block;width: 97%; margin: 0 auto}
#corpo .banner_artista .texto-artista p{
  font-size:1.2vw;
    margin-bottom:-1.5%
}
#corpo .banner_artista .texto-artista h2{
  font-size:1.6vw
}
#corpo .banner_artista .texto-artista hr{
     width:80%;
}
/* SEÇÃO BENEFICOS */
#corpo .beneficios p{
    font-size:2.2vw;
    width:80%;
    margin:2% auto;
}
#corpo .beneficios h2{
    font-size:3vw;
   margin-top:11%;
}
#corpo .beneficios-card::before{
    padding: 0;
    padding-top: 92.0625%;
}
#corpo .beneficios-card picture{
    width: 80%;
    margin: 0 auto;
}
#corpo .beneficios .orientacao{
    font-size:1.2vw;
    width:59%;
}
/* VIDEO */
#corpo .video::before{
    padding: 0;
    padding-top: 92.0625%;
}
#corpo .video .video-box{
    z-index:10;
}
#corpo .video .video-box, #corpo .video .background-gradiente{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* SEÇÃO INVESTIMENTO */
#corpo .investimento::before{
    padding: 0;
    padding-top: 216.0625%;
}
/* SOBRE A ARTISTA */
#corpo .sobre-artista::before{
    padding: 0;
    padding-top: 62.0625%;
}

#corpo .sobre-artista picture{
    width:94%;
    margin:0 auto;
}
#corpo .sobre-artista h2{
    font-size: 2.3vw;
    margin: 10% auto 6%;
}

/* CARROUSSEL SEVIÇOS */
#corpo .carroussel-servicos::before{
    padding: 0;
    padding-top: 216.0625%;
}
/* ----Responsividade media query---- */


@media screen and (min-width: 1600px) { 

}


@media screen and (max-width: 1100px) {



  

}
   


/*------------------ FIM faixa preÃ§o---------------------*/



