#corpo {display: block;position: relative;margin: 0 auto; width: 100%;max-width: 1600px;box-sizing: border-box; padding: 0; font-family: 'Open Sans', sans-serif; color: #303030;overflow: hidden; background:#F4DAD3; text-align: center;}
/* TEXTO TOPO */
#corpo .texto-topo{
    text-align: center;
}
#corpo .texto-topo h2{
    font-size: 4.2vw;
    font-weight:400;
}
#corpo .texto-topo h2 span{
    font-weight:700;
}
#corpo .texto-topo P {
    font-size:2.1vw;
    width:38%;
    margin:4% auto;
}
#corpo .texto-topo h2.sub-titulo{
    font-size:3.6vw;
    font-weight:700;
    color: #FF7E5D;
}
#corpo .texto-topo P.bold {
    font-size:2.3vw;
    font-weight:700;
    margin-top:-2vw
}   
/* BANNER  */
#corpo .banner_artista::before{
    padding: 0;
    padding-top: 49.0625%;
}
#corpo .banner_artista{position: relative;display: block;width: 100%; margin: 0 auto;}
#corpo .banner_artista picture{display: block;width: 100%;}
#corpo .banner_artista picture img{position: relative;display: block;width: 97%; margin: 0 auto}
#corpo .banner_artista .texto-artista p{
  font-size:1.2vw;
  margin: 4% 0 -1%;

}
#corpo .banner_artista .texto-artista h2{
  font-size:1.6vw;
  margin-bottom: 3%;
}
#corpo .banner_artista .texto-artista hr{
     width:66%;
}
/* SEÇÃO BENEFICOS */
#corpo .beneficios p{
    font-size:2.2vw;
    width:80%;
    margin:2% auto;
}
#corpo .beneficios h2{
    font-size:3vw;
   margin:11% 0 4%;
}
#corpo .beneficios-card::before{
    padding: 0;
    padding-top: 92.0625%;
}
#corpo .beneficios-card picture{
    width: 80%;
    margin: 0 auto;
}
#corpo .beneficios .orientacao{
    font-size:1.2vw;
    width:59%;
    margin: 5% auto 10%;
}

/* VIDEO */
#corpo .video::before{
    padding: 0;
    padding-top: 97.0625%;
}
#corpo .video .video-box{
    z-index:10;
}
#corpo .video .video-box, #corpo .video .background-gradiente{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* SEÇÃO INVESTIMENTO */
#corpo .investimento::before{
    padding: 0;
    padding-top: 216.0625%;
}
/* SOBRE A ARTISTA */
#corpo .sobre-artista::before{
    padding: 0;
    padding-top: 62.0625%;
}

#corpo .sobre-artista picture{
    width:94%;
    margin:0 auto;
}
#corpo .sobre-artista h2{
    font-size: 2.3vw;
    margin: 10% auto 6%;
}

/* CARROUSSEL SEVIÇOS */
#corpo .carroussel-servicos::before{
    padding: 0;
    padding-top: 57.0625%;
}
#corpo .carroussel-servicos{
    margin-bottom:19%;
    position:relative;
}
#corpo .carroussel-servicos .texto-carrossel{
 margin-top:6%;
}
#corpo .carroussel-servicos .texto-carrossel h2{
    font-weight: 400;
    font-size: 4vw;
}
#corpo .carroussel-servicos .texto-carrossel span{
    font-weight: 700;
    
}
#corpo .carroussel-servicos .texto-carrossel p{
    font-size: 1.6vw;
    margin: -2.5vw 0 8%;
    padding:0;
}
#corpo .carroussel-servicos picture{
    display: inline-block;
    width:90%;
    margin:0 auto;
}
 #corpo .carroussel-servicos .owl-carousel.owl-drag .owl-item {
    width:300px;
    
 }
#corpo .carroussel-servicos .owl-nav{
    width:100%;
    position: absolute;
    top:43%;
    display:flex;
    align-items:center;
    justify-content:center;
}
#corpo .carroussel-servicos .owl-nav .owl-next, #corpo .carroussel-servicos .owl-nav .owl-prev{
    width:50px;
    height:50px;
    border-radius:50%;
    background:#Fff;
}
#corpo .carroussel-servicos .owl-nav .owl-prev{
    position:absolute;
    left:0.5vw;
}
#corpo .carroussel-servicos .owl-nav .owl-next{
    position:absolute;
    right:0.2vw;
}
/* .owl-carousel .owl-stage-outer {
   margin: 0 auto;
    width: 100%; 
}
.owl-carousel .owl-item img {
    display: block;
    width: 78%;
}  */


/* ----Responsividade media query---- */


@media screen and (min-width: 1600px) { 

}


@media screen and (max-width: 1100px) {
/* TEXTO TOPO */
  #corpo .texto-topo P{
    font-size:2.3vw;
  }
  #corpo .texto-topo h2.sub-titulo{
    font-size:4.2vw;
  }
  #corpo .texto-topo P.bold{
    font-size:2.6vw;
    width:80%
  }
/* BANNER TOPO */
 #corpo .banner_artista::before {
    padding-top: 81.0625%;
}
#corpo .banner_artista .texto-artista p,
#corpo .banner_artista .texto-artista h2
{
    font-size:3.1vw;
}
/* SEÇAO BENEFICIOS */
#corpo .beneficios {
   font-size:3.1vw;
}
#corpo .beneficios-card::before {
    padding-top: 157.0%;
}  
#corpo .beneficios .orientacao{
    font-size:1.7vw;
    width: 75%;
    margin: 5% auto 11%;
}
#corpo .video .background-gradiente  {
    width:100%;
}
/* SEÇAÕ INVESTIMENTO */
#corpo .investimento::before {
    padding-top: 304.0625%;
   
}
}




